 /*da disattivare*/
 /*border-style: dashed;*/

 /*debug da disattivare*/

 /*.debug {

    .header-container {
        background-color: aqua;
    }

    .left,
    .center,
    .right {
        background-color: orange;
    }

    .center {
        min-height: 40px;
    }

    .jumbotron {
        background-color: blue;
    }

    .j-content {
        background-color: pink;
        min-height: 400px;
    }

    .container-footer {
        background-color: aquamarine;
        min-height: 80px;
    }

    .w-60 {
        background-color: lightskyblue;
    }

    .w-40 {
        background-color: pink;
    }

    .h-div-900 {
        background-color: green;
    }

    .background-dark {

        background-color: grey;
    }

    .h-div-500 {

        min-height: 500px;

    }

    .h-div-900 {
        min-height: 900px;
    }

    .w-30 {
        background-color: brown;
        min-height: 500px;
    }

    .w-70 {
        background-color: greenyellow;
        min-height: 500px;

    }

    .w-25 {

        min-height: 500px;
    }

}

/* debug disattivato*/


 /*colors*/

 :root {

     --primary-top-color: #255ee9;
     --dark-color: #23272a;
     --text-hover-button-light: white;
     --link-color: white;
     --text-color-light: white;
     --link-color-hover-light: #7289da;
     --bg-color-even: #f6f6f6;
     --divider: #465068;

 }



 /*common*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 a:link {

     text-decoration: none;
     color: var(--link-color);

 }

 a:hover {

     color: var(--link-color-hover-light);
 }

 nav {

     font-weight: bold;
     font-size: small;
 }

 button {

     border-radius: 2rem;
     padding-inline: 0.9rem;
     padding-block: 0.7rem;
     border: none;
     cursor: pointer;
     font-weight: bold;

 }

 button:hover {

     background-color: var(--link-color-hover-light);
     color: var(--text-color-light);
 }

 .img-size {

     width: 100%;

 }

 .section-title {

     font-size: 2rem;
     margin-bottom: 1.5rem;
 }

 /*utility*/


 .flex-container {

     display: flex;
     justify-content: center;


 }


 .wrap {

     flex-wrap: wrap;
 }


 .w-25 {

     width: 25%;
 }

 .w-30 {

     width: 30%;
     padding-top: 3%;
     color: var(--text-color-light);
 }

 .w-40 {
     width: 40%;
     align-content: center;


 }

 .w-60 {

     width: 60%;
     align-content: center;

 }

 .w-70 {

     width: 70%;
 }

 .section-class {

     padding: 5% 15%;

 }

 .h-div-900 {

     width: 100%;
 }

 /*header*/

 .header-container {
     padding: 1%;
     background-color: var(--primary-top-color);
 }


 .left {
     justify-content: start;
     align-items: center;
 }

 .right {
     align-items: center;
     justify-content: end;
 }

 .left,
 .right {
     width: 20%;

 }

 .center {
     width: 40%;
     justify-content: center;
     align-items: center;
     gap: 1rem;

 }


 /*jumbotron*/

 .jumbotron {

     padding-block: 5%;
     background-image: url("../img/jumbo.png");
     background-size: cover;
     height: 500px;

 }

 .j-content {

     width: 40%;
     text-align: center;
     color: var(--text-color-light);

     h1 {

         font-size: 3rem;
     }

     .p-jumbo {

         margin-top: 2rem;
         margin-bottom: 2rem;
     }


     .h-button {

         height: 60px;
         padding-inline: 2rem;
         margin-inline: 0.7rem;

     }

     .b-download {

         font-size: 1rem;

     }

     .symbol {

         font-size: 0.9rem;

     }

     .b-browser {

         font-size: 1rem;
         background-color: var(--dark-color);
         color: var(--text-color-light);

     }

     .b-browser:hover {

         background-color: var(--link-color-hover-light);

     }

 }

 /*/jumbotron*/

 section:nth-of-type(even) {

     background-color: var(--bg-color-even);
 }

 .t-center {

    text-align: center;
 }

 .call-to-action {

    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 40%;
    background-position: top center;
    height:90px;
    align-content: center;

 }


 .b-download-2 {

    background-color: var(--link-color-hover-light);
    color: var(--text-hover-button-light);
    padding-inline: 2rem;
    
    
 }

 .b-download-2:hover {

    background-color: var(--dark-color);

}



 /*corporate menu*/

 #corporate-menu {

     background-color: var(--dark-color);
     padding-top: 1%;
     padding-bottom: 3%;
     

 }

 /*footer*/

 .container-footer {

     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 70%;
     margin-top: 2%;
     margin-bottom: 2%;

 }

 footer {

     border-top: 1px solid var(--divider);
     background-color: var(--dark-color);
 }


 .flag {

        height: 1rem;
    
 }

 ul {

    list-style-type: none;
 }

 h4 {

    color: var(--link-color-hover-light);
 }